<!-- apresenta o cabeçalho do site -->
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Davi Lima Pereira">
    
    <title>ARAVEUNA - <?php print $titulo; ?></title>

    <!-- Principal CSS do Bootstrap -->
    <link href="<?php print BOOTSTRAP; ?>" rel="stylesheet">

    <!-- Estilos customizados para esse template -->
    <link href="<?php print TEMPLATE_PRINCIPAL; ?>" rel="stylesheet">
  </head>
  <body>

  <?php include MENU; ?>
