<!-- apresenta o menu suspenso do site -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">ARAVEUNA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="<?php print $home; ?>" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="<?php print $colaboradoras; ?>" href="/colaboradoras">Colaboradoras</a>
      </li>
      <li class="nav-item">
        <a class="<?php print $clientes; ?>" href="/clientes">Clientes</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Parcerias</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="/abelha-rainha">Abelha Rainha</a>
          <a class="dropdown-item" href="/avon">Avon</a>
          <a class="dropdown-item" href="/eudora">Eudora</a>
          <a class="dropdown-item" href="/natura">Natura</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<main role="main" class="container">
  <div class="starter-template">