<!-- Exibe o pedido de acordo com a solicitação na page index -->
<?php
  include_once './config.php';

  $titulo = "Abelha Rainha";

  $home = "nav-link";
$ar = "nav-link active";
$av = "nav-link";
$eu = "nav-link";
$na = "nav-link";

  include CABECALHO;

    $ano = $_POST['ano'];
    $mes = $_POST['mes'];
?>
<div class="row">
  <div class="col">
    <h1>Pedido Abelha Rainha - <?=  $mes . "/" . $ano; ?></h1>
  </div>
</div>
<hr>
<table class="table table-sm table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Vendedor(a)</th>
      <th>Cliente</th>
      <th>Valor</th>
      <th colspan="2">Situação</th>
    </tr>
  </thead>
  <tbody>
    <?= $xml = simplexml_load_file('./views/abelha_rainha/vendas.xml');
    foreach($xml->registro as $registro):
      if($ano == $registro->ano){
        foreach($registro->vendas->venda as $venda):
          if($mes == $venda->mes){
            foreach($venda->vendedores->vendedor as $vendedor):
              $nome_vendedor = $vendedor->nome; 
              foreach($vendedor->clientes->cliente as $cliente):
                echo "<tr>";
                  echo "<td>" . $nome_vendedor . "</td>";
                  echo "<td>" . $cliente->nome . "</td>";
                  echo "<td>R$ " . $cliente->total_compra . "</td>";
                  echo "<td>" . $cliente->pagamento_cliente . "</td>";
                  echo "<td>";
    echo "<form action='/exibirDetalhesPedidoAbelhaRainha' method='POST'>";
        echo "<input type='hidden' name='mes' value='" .  $venda->mes . "'>";
        echo "<input type='hidden' name='ano' value='" . $ano  ."'>";
        echo "<input type='hidden' name='vendedor' value='" . $vendedor->nome  ."'>";
        echo "<input type='hidden' name='cliente' value='" . $cliente->nome  ."'>";
        echo "<button type='submit' class='btn btn-primary btn-sm'>Mais...</button>";
     echo "</form>";
                  echo "</td>";
                echo "</tr>";
              endforeach;
            endforeach;
          }
          echo "<tr>";
            echo "<td colspan='3'>Total do mês:</td>";
            echo "<td colspan='2'>R$ " . $venda->total_vendas . "</td>";
          echo "</tr>";
        endforeach;
      }
    endforeach;
    ?>
  </tbody>
</table>
<?= include RODAPE; ?>