<!-- Exibe os detalhes do pedido da cliente -->
<?php
  include_once './config.php';

  $titulo = "Abelha Rainha";

  $home = "nav-link";
$ar = "nav-link active";
$av = "nav-link";
$eu = "nav-link";
$na = "nav-link";

  include CABECALHO;
  
  $ano = $_POST['ano'];
  $mes = $_POST['mes'];
  $vendedor1 = $_POST['vendedor'];
  $cliente1 = $_POST['cliente'];
?>
<div class="row">
  <div class="col">
    <h1>Detalhes Pedido Abelha Rainha - <?= $cliente1; ?></h1>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-auto">
    <h2>Vendedor(a): <?= $vendedor1; ?></h2>
  </div>
  <div class="col-sm-auto">
    <h2>Ref.: <?= $mes . "/" . $ano; ?></h2>
  </div>
</div>
<hr>
<table width="100%" border="5" class="table table-sm table-bordered">
  <thead class="thead-dark">
    <tr align="center">
      <th width="5%">Cód</th>
      <th width="70%">Descrição</th>
      <th width="5%">Qtde</th>
      <th width="10%">Valor Unit.</th>
      <th width="10%">Valor Total</th>
    </tr>
  </thead>
  <tbody>
    <?php
      $xml = simplexml_load_file('./views/abelha_rainha/vendas.xml');
      foreach($xml->registro as $registro):
        if($ano == $registro->ano){
          foreach($registro->vendas->venda as $venda):
            if($mes == $venda->mes){
              foreach($venda->vendedores->vendedor as $vendedor):
                if($vendedor1 == $vendedor->nome){
                  foreach($vendedor->clientes->cliente as $cliente):
                    if($cliente1 == $cliente->nome){
                      foreach($cliente->itens->item as $item):
    ?>
    <tr>
      <td><?= $item->codigo; ?></td>
      <td><?= $item->descricao; ?></td>
      <td align="center"><?= $item->quantidade; ?></td>
      <td align="center">R$ <?= $item->valor_unitario; ?></td>
      <td align="center">R$ <?= $item->valor_total; ?></td>
    </tr>
    <?php
                      endforeach;
                      echo "<tr>";
                      echo "<td colspan='4'>Total da compra:</td>";
                      echo "<td>R$ " . $cliente->total_compra . "</td>";
                      echo "</tr>";
                    }
                  endforeach;
                }
              endforeach;
            }
          endforeach;
        }
      endforeach;
    ?>
  </tbody>
</table>

<?= include RODAPE; ?>