<!-- apresentar as vendas realizadas mes a mes e o valor a receber no mes vigente. -->

<?php
  include_once './config.php';

  $titulo = "Abelha Rainha";

  $home = "nav-link";
  $ar = "nav-link active";
  $av = "nav-link";
  $eu = "nav-link";
  $na = "nav-link";

  include CABECALHO;
?>
<div class="row">
  <div class="col-sm-auto">
<h1>Cosméticos Abelha Rainha</h1>
  </div>
  <div class="col" align="right">
    <a href="/novoPedidoAbelhaRainha" class="btn btn-primary" type="button">Cadastrar Pedido</a>
  </div>
</div>
<hr>

<form class="form-inline" method="POST" action="/abelhaRainha">
  <div class="form-group col-sm-auto">
    <p>Selecione o ano:</p>
  </div>
  <div class="form-group col-sm-auto">
    <select class="form-control" name="ano">
      <?php
        //crio um array para receber os anos de vendas
        $anos = [];
        //crio o objeto $xml com os dados de vendas
        $xml = simplexml_load_file('./views/abelha_rainha/vendas.xml');
        //percooro o objeto $xml atribuindo ao objeto $lista cada registro de venda
        foreach($xml->registro as $lista):
          //atribuo o ano ao array
          $anos[] = $lista->ano;
        endforeach;
        //inicio um for para apresentar os anos de tras para frente
        for($i = count($anos); $i > 0; $i--){
          echo "<option value='" . $anos[$i-1] . "'>" . $anos[$i-1] . "</option>";
        }
      ?>
    </select>
  </div>
  <button type="submit" class="btn btn-success mb-2">Listar</button>
</form>
<hr>
<div class="row">
  <div class="col-md-6">
    <h2 align="center">Valores a Receber: 
      <?php  
        function gerarMes($mes){
          switch($mes){
            case 1:
              return "Janeiro";
            case 2:
              return "Fevereiro";
            case 3:
              return "Março";
            case 4:
              return "Abril";
            case 5:
              return "Maio";
            case 6:
              return "Junho";
            case 7:
              return "Julho";
            case 8:
              return "Agosto";
            case 9:
              return "Setembro";
            case 10:
              return "Outubro";
            case 11:
              return "Novembro";
            default:
              return "Dezembro";
          }
        }
        $mes = gerarMes(date('m'));
      echo $mes . "/" . date('Y'); 
      ?>
    </h2>
    <table class="table table-sm table-bordered table-hover">
      <thead class="thead-dark">
        <tr align="center">
          <th >Vendedor(a)</th>
          <th >Valor</th>
          <th >Situação</th>
          <th >Opção</th>
        </tr>
      </thead>
      <tbody>
        <?php
          $xml = simplexml_load_file('./views/abelha_rainha/vendas.xml');
          foreach($xml->registro as $registro):
            if((int)$registro->ano == date('Y')){
              foreach($registro->vendas->venda as $venda):
                if($venda->mes == $mes){
                  foreach($venda->vendedores->vendedor as $vendedor):
                    echo "<tr align='middle'>";
                    echo "<td>" . $vendedor->nome . "</td>";
                    echo "<td>" . $vendedor->total_receber . "</td>";
                    echo "<td>" . $vendedor->pagamento_vendedor . "</td>";
                    echo "<td><button type='button' class='btn btn-primary btn-sm'>Mais...</button></td>";
                    echo "</tr>";
                  endforeach;
                }
              endforeach;
            }
          endforeach;
        ?>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <?php
    if($_SERVER['REQUEST_METHOD'] == 'POST'){
      $ano = $_POST['ano'];
    ?>
<h2 align="center">Vendas realizadas em <?= $ano; ?></h2>
<table class="table table-sm table-bordered table-hover">
  <thead class="thead-dark">
    <tr align="center">
      <th >Mês</th>
      <th >Valor</th>
      <th >Situação</th>
      <th >Opção</th>
    </tr>
  </thead>
  <tbody>
    <?=
        $xml = simplexml_load_file('./views/abelha_rainha/vendas.xml');
        foreach($xml->registro as $registro):
          if((int)$registro->ano == $ano){
            foreach($registro->vendas->venda as $venda):
              echo "<tr align='middle'>";
              echo "<td>" . $venda->mes . "/" . $ano . "</td>";
              echo "<td>R$ " . $venda->total_vendas . "</td>";
                if($venda->situacao_venda == "PENDENTE"){
                  echo "<td class='bg-warning text-white'><em><strong>" . $venda->situacao_venda . "</strong></em></td>";
                } else {
                  echo "<td class='bg-success text-white'><em><strong>" . $venda->situacao_venda . "</strong></em></td>";
                }
              echo "<td>";
                echo "<form action='/exibirPedidoAbelhaRainha' method='POST'>";
                  echo "<input type='hidden' name='mes' value='" .  $venda->mes . "'>";
                  echo "<input type='hidden' name='ano' value='" . $ano  ."'>";
                  echo "<button type='submit' class='btn btn-primary btn-sm'>Mais...</button>";
               echo "</form>";
              echo "</td>";
              echo "</tr>";
            
            endforeach;
          }
        endforeach;
      } else {
        $ano = date('Y');
    ?>
    <h2 align="center">Vendas realizadas em <?= $ano; ?></h2>
    <table class="table table-sm table-bordered table-hover">
      <thead class="thead-dark">
        <tr align="center">
          <th >Mês</th>
          <th >Valor</th>
          <th >Situação</th>
          <th >Opção</th>
        </tr>
      </thead>
      <tbody>
        <?=
        $xml = simplexml_load_file('./views/abelha_rainha/vendas.xml');
        foreach($xml->registro as $registro):
          if((int)$registro->ano == $ano){
    foreach($registro->vendas->venda as $venda):
      echo "<tr align='middle'>";
    echo "<td>" . $venda->mes . "/" . $ano . "</td>";
    echo "<td>R$ " . $venda->total_vendas . "</td>";
    if($venda->situacao_venda == "PENDENTE"){
      echo "<td class='bg-warning text-white'><em><strong>" . $venda->situacao_venda . "</strong></em></td>";
    } else {
      echo "<td class='bg-success text-white'><em><strong>" . $venda->situacao_venda . "</strong></em></td>";
    }
        echo "<td>";
          echo "<form action='/exibirPedidoAbelhaRainha' method='POST'>";
            echo "<input type='hidden' name='mes' value='" .  $venda->mes . "'>";
            echo "<input type='hidden' name='ano' value='" . $ano  ."'>";
            echo "<button type='submit' class='btn btn-primary btn-sm'>Mais...</button>";
         echo "</form>";
        echo "</td>";
      echo "</tr>";
    endforeach;
          }
        endforeach;
      }
    ?>
  </tbody>
</table>
  </div>
 
</div>
<?= include RODAPE; ?>